<h1><%= @figure.name %></h1>

<h2>Titles</h2>
<% if @figure.titles.empty? %>
  <h4>This person has no known titles!</h4>
<% else %>
  <ul>
  <% @figure.titles.each do |title| %>
    <li><%= title.name %></li>
  <% end %>
  </ul>
<% end %>

<h2>Landmarks</h2>
<% if @figure.landmarks.empty? %>
  <h4>This person has no known landmarks!</h4>
<% else %>
  <ul>
  <% @figure.landmarks.each do |landmark| %>
    <li><%= "#{landmark.name} (#{landmark.year_completed})" %></li>
  <% end %>
  </ul>
<% end %>


<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a><br>
<a class="button" href="/figures">Figures</a>


